body{
    background-color: #7199a2;
    font-size: 16px;
}


h1{
    font-size: 30px;
    color: #fff;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 22px!important;
    margin-bottom: 11px!important;
}

h2{
    font-size: 23px;
    color: #fff;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 22px!important;
    margin-bottom: 11px!important;
}




.ag-panel{
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 0px!important;
    box-shadow: none!important;
    border: none!important;
}

.ag-panel .ag-label{
    margin-top: 10px;
}
.ag-panel .label-danger{
    margin-top: 0px!important;
    display: block;
    text-align: left;
    font-size: 10px;
}

.ag-form-control{
    border-radius: 0px!important;
}

.ag-baslik-kutusu{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0px!important;
    box-shadow: 2px 2px 5px #ccc;
    height: 50px;
    font-size: 20px;
    padding-left: 50px;
}

.ag-soru-sil-duzenle{
    margin-left: 10px;
    border: 1px solid #ccc;
    padding:5px;
    font-size: 10px;
    cursor: pointer;
}
.ag-soru-sil-duzenle:hover{
    border: 1px solid #000;
    background-color: #c0c0c0;
}

.ag-soru-arac-cubugu{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.ag-alert{
    border-radius: 0px!important;
    padding: 5px!important;
    padding-left: 20px !important;
}


.ag-ust-menu-ogesi{
    position: relative;
    float: right;
    margin: 0px;
    cursor: pointer;
}

.ag-ust-menu-ogesi a {
    float: right;
    margin-left: 20px;
    color: #fff!important;
    font-size: 13px!important;
    text-shadow: 0px 1px 1px #000;
}

.ag-sayfalama-cubugu{
    position: absolute;
    margin-top: 50px;
    display: block;
    float: left;
    height: 50px!important;
    width: 90%;
    padding: 7px!important;
    text-align: center;
    bottom: 0px;
}
.ag-sayfalama-cubugu .pagination{
    margin: 0!important;
}


#ag-sidebar{
    float: left;
    width: 200px;
}


#ag-content{
    position: relative;
    overflow: hidden;
    background: #e4eff1;
    min-height: 800px!important;
    padding-top: 250px;
    padding: 50px;
}

#ag-sol-menu{
    float: left;
}


.ag-front-panel{
    position: relative;
    min-height:600px;
    background-color: #30626f;
    box-shadow: 0!important;
    border-radius: 0px!important;
    color: #fff;
    border: 0px!important;
    padding: 60px;
}

.ag-front-panel .btn{
    padding: 5px!important;
    border-radius: 0!important;
    line-height: normal;!important;
    width: 200px;
}


.borderless td, .borderless th {
    border: none!important;
}

.ag-front-baslik-kutusu{
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px!important;
    border: 0px!important;
    background-color: #30626f!important;
    color: #fff;
    box-shadow:none;!important;
    padding: 1px!important;
    padding-left: 50px!important;
}

.navbar{
    margin-bottom: 0px!important;
    position: absolute;
    width: 100%;
}

.navbar-default{
    background-color:transparent!important;
    border:0px!important;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.dropdown-menu{
    border-radius: 4px!important;
}

.navbar-right {
    float: right!important;
    margin-right: 0px!important;
}

.duellolar-kutusu{
    background-color: #0b404b;
    border: 1px solid #2f4f4f;
    border-bottom: 10px solid #2f4f4f;
    padding: 20px;
    position: relative;
}



.ag-aciklama{
    border-radius: 4px;
    padding: 20px;
    background-color: #80b9c9;
    color: #000000;
}
.ag-aciklama h2{
    line-height: 20px;
    color: #000000;
    text-shadow: 1px 1px 1px #fff;
    margin-top: 0px!important;
}


#agMesajBoxModal .modal-body img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}



